{% extends 'website/base.html' %}
{% block content %}
    <h1>About Us</h1>
    <p>Welcome to CS Landscaping, where your outdoor dreams come to life! Nestled in the heart of Omaha, Nebraska, our company
        is the culmination of over a decade of passion and expertise in the landscaping industry.
    </p>
    <p>Founded by a seasoned professional with more than 10 years of hands-on experience, CS Landscaping is not just a business—it's
        a commitment to transforming ordinary spaces into extraordinary havens. We understand that your outdoor environment is an extension of your home,
        and our goal is to create landscapes that not only
        enhance the beauty of your property but also reflect your unique style and personality.
    </p>
    <p>At CS Landscaping, we pride ourselves on our dedication to quality craftsmanship and customer satisfaction.
        Our team consists of skilled and knowledgeable professionals who share a love for creating outdoor spaces that
        inspire and delight. Whether you're envisioning a lush green lawn, a vibrant garden, or a cozy outdoor living area,
        we have the expertise to bring your vision to life.
    </p>

{% endblock %}